/* === reset start ===*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif; }

ol,
ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: inherit; }

/* === reset end ===*/
header {
  background: #fff;
  box-shadow: 0px 5px 12px #d0d0d0; }
  header .nav {
    width: 1440px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    header .nav__logo {
      width: 19.1%;
      display: flex;
      justify-content: flex-end; }
      header .nav__logo span {
        display: block;
        font-size: 20px;
        line-height: 0.9;
        font-family: "Dancing Script", cursive;
        font-variation-settings: "wdth" 700; }
    header .nav__gnb {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 55.5%;
      margin-left: 70px;
      margin-right: 12px; }
      header .nav__gnb-depth1-item {
        position: relative;
        text-align: center;
        transition: all 0.5s;
        border-radius: 10px; }
        header .nav__gnb-depth1-item:hover {
          background-color: #dcdcdc; }
        header .nav__gnb-depth1-item:hover .nav__gnb-depth2 {
          display: block; }
      header .nav__gnb-title {
        display: inline-block;
        padding: 10px;
        border-radius: 21px;
        font-size: 14.3px;
        text-align: center;
        font-weight: 530; }
      header .nav__gnb-depth2 {
        display: none;
        position: absolute;
        top: 42px;
        width: 189px;
        padding: 12px;
        border-radius: 9px;
        transition: 0.5s;
        background-color: #fff;
        box-shadow: 1px 1px 9px #cacaca; }
        header .nav__gnb-depth2.on {
          display: block; }
      header .nav__gnb-depth2-item {
        color: #8e8e8e;
        transition: 0.5s; }
        header .nav__gnb-depth2-item > a {
          position: relative;
          display: inline-block;
          padding: 5px 0;
          overflow: hidden; }
          header .nav__gnb-depth2-item > a::before {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 1px;
            background: linear-gradient(313deg, #0056ff, #00ffcd);
            transition-timing-function: ease-in-out;
            transition: transform 0.7s;
            transform: scaleX(0);
            transform-origin: right bottom; }
        header .nav__gnb-depth2-item:hover {
          color: #368efb; }
        header .nav__gnb-depth2-item:hover a::before {
          width: 100%;
          transform: scaleX(1);
          transform-origin: left bottom; }
    header .nav__translate {
      display: block;
      padding: 6px 31px;
      font-size: 15px;
      border-right: solid 1px #f0f0f0;
      border-left: solid 1px #f0f0f0; }
    header .nav__search {
      font-size: 20px; }
    header .nav__total-menu {
      box-sizing: content-box;
      position: relative;
      margin-right: 17px;
      width: 22px;
      height: 17px;
      padding: 15px 12px;
      background-color: #f8e71c; }
      header .nav__total-menu::before {
        content: "";
        display: block;
        position: absolute;
        top: 16px;
        /* left: 50%; */
        /* transform: translateX(-50%); */
        width: 21px;
        height: 2px;
        background: #444444;
        transition: 0.7s; }
      header .nav__total-menu span {
        display: block;
        position: absolute;
        top: 50%;
        width: 21px;
        height: 2px;
        margin: -1px 0 0 0;
        background: #444444;
        transition: 0.7s; }
      header .nav__total-menu::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 16px;
        width: 21px;
        height: 2px;
        background: #444444;
        transition: 0.7s; }
      header .nav__total-menu.on::before {
        transform: rotateZ(90deg);
        top: 0px;
        left: calc(50% - 1px);
        transform-origin: left; }
      header .nav__total-menu.on span {
        opacity: 0; }
      header .nav__total-menu.on::after {
        bottom: calc(50% - 1px);
        transform: rotateX(-45deg); }
  header .total-menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #000; }
    header .total-menu > ul {
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;
      align-content: space-around;
      max-width: 1440px;
      height: calc(100vh - 120px);
      margin: 60px auto; }
    header .total-menu * {
      color: #fff; }
    header .total-menu.on {
      display: block; }
    header .total-menu__depth1 {
      padding: 0 20px; }
      header .total-menu__depth1 > a {
        display: block;
        font-size: 17px;
        font-weight: bold;
        margin: 0 0 10px 0;
        padding: 0 0 13px 0;
        border-bottom: solid 1px #fff; }
    header .total-menu__depth2-item {
      list-style-type: disc;
      margin: 0 0 8px 0; }
      header .total-menu__depth2-item > a:hover {
        color: #a4e2ff; }

.swiper {
  width: 100vw;
  height: 730px;
  background-color: #b5dbb5; }
  .swiper .swiperMoveBtn {
    display: flex;
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1440px; }
    .swiper .swiperMoveBtn li {
      display: flex;
      width: calc((100% - 153px * 2) / 3);
      padding: 29px;
      border-right: solid 1px #eee;
      background-color: #fff; }
      .swiper .swiperMoveBtn li img {
        width: 70px;
        border-radius: 100%; }
      .swiper .swiperMoveBtn li div {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0 0 29px;
        font-size: 18px;
        color: #2f2f2f; }
    .swiper .swiperMoveBtn .swiperMoveBtn--empty {
      background-color: transparent;
      border-right: none; }
    .swiper .swiperMoveBtn li:first-child,
    .swiper .swiperMoveBtn li:last-child {
      width: 135px; }

/*# sourceMappingURL=style.css.map */
